<!DOCTYPE html>
<html lang="en">
    <%- include('components/head') %>
    <body>
        <%- include('components/header') %>
        <div class="container-md body-wrapper">
            <%- include('components/left-sidebar') %>
            <main class="main-wrapper">
                <h1>404 NOT FOUND</h1>
            </main>
            <%- include('components/right-sidebar') %>
        </div>
        <%- include('components/footer') %>
    </body>
</html>